<!-- index.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Moonlight Melodies - Sales</title>
</head>
<body>
  <header>
</header>
<h2>Customers Table </h2>
{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
<thead>
    <tr>
        <th>Customer ID</th>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        <th>Customer Phone Number</th>
        <th>Customer Email</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.customerID}}>
            <td>{{this.customerID}}</td>
            <td>{{this.customerFname}}</td>
            <td>{{this.customerLname}}</td>
            <td>{{this.customerPhone}}</td>
            <td>{{this.customerEmail}}</td>
             <td><button onclick="deleteCustomer({{this.customerID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_customer.js"></script>

<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new customer, please enter their information below nad click `Submit`!</p>
<form id="add-customer-form" method="POST" action="/add-customer-form">
    <label for="input-fname">Customer First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <label for="input-lname">Customer Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">
    
    <label for="input-phone">Customer Phone Number: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-email">Customer Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form>


<h2>Updating Customers Form</h2>
<p>Select the customerID from the dropdown below and update its information:</p>
<fieldset>
    <form id="update-customer-form">

        <label for="update-customer-id">Select the customer ID: </label>
        <select name="update-customer-id" id="update-customer-id">
            {{#each customerIDS}}
            <option value="{{this.customerID}}">{{this.customerID}}</option>
            {{/each}}
        </select>


        <label for="update-customer-fname">Customer First Name: </label>
        <input type="text" name="update-customer-fname" id="update-customer-fname">

        <label for="update-customer-lname">Customer Last Name: </label>
        <input type="text" name="update-customer-lname" id="update-customer-lname">
        
        <label for="update-customer-phone">Customer Phone Number: </label>
        <input type="text" name="update-customer-phone" id="update-customer-phone">

        <label for="update-customer-email">Customer Email: </label>
        <input type="text" name="update-customer-email" id="update-customer-email">

        <input type="submit" onclick="return confirm('You are about to update the customer. Are you Sure?')"/>

    </form>
</fieldset>
<script src="./js/update_customer.js"></script>
</form>
</body>
</html>