<!--Citation for file employees.hbs
// Date: 02/23/2024
// The ciation scope was for the whole module
// The code was adapted from the github starter code 
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
--> 

<!-- employees.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moonlight Melodies - Sales</title>
</head>
<body>
  <header>
</header>
<h2>Employees Table </h2>
{{!-- Create a table --}}
<table id="employees-table">

<thead>
    <tr>
        <th>Employee ID</th>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Phone</th>
        <th>Employee Email</th>
        <th>Delete</th>
    </tr>
</thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print items in order --}}
        {{#each data}}
        <tr data-value={{this.employeeID}}>
            <td>{{this.employeeID}}</td>
            <td>{{this.employeeFname}}</td>
            <td>{{this.employeeLname}}</td>
            <td>{{this.employeePhone}}</td>
            <td>{{this.employeeEmail}}</td>
             <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_employees.js"></script>


<!-- Adding form -->
<!-- /views/index.hbs -->
<h2>Adding Employees</h2>
<p>To add a new employee, please enter their information below and click `Submit`!</p>
<form id="add-employee-form" method="POST" action="/add-employee-form">
    <label for="input-fname">Employee First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <label for="input-lname">Employee Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-phone">Employee Phone: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-email">Employee Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form>



<!-- Updating Form -->
<h2>Updating Employees</h2>
<p>Select the employeeID from the dropdown below and update their information:</p>

    <form id="update-employee-form">

        <label for="update-employee-id">Select the employee: </label>
        <select name="update-employee-id" id="update-employee-id">
            <option value="">Select an Employee</option>
            {{#each employeeIDS}}
            <option value="{{this.employeeID}}">{{this.employeeID}}. {{this.employeeFname}} {{this.employeeLname}}</option>
            {{/each}}
        </select>


        <label for="update-employee-fname">Employee First Name: </label>
        <input type="text" name="update-employee-fname" id="update-employee-fname">

        <label for="update-employee-lname">Employee Last Name: </label>
        <input type="text" name="update-employee-lname" id="update-employee-lname">

        <label for="update-employee-phone">Employee Phone Number: </label>
        <input type="text" name="update-employee-phone" id="update-employee-phone">

        <label for="update-employee-email">Employee Email: </label>
        <input type="text" name="update-employee-email" id="update-employee-email">
    

        <input type="submit" onclick="return confirm('You are about to update the employee. Are you Sure?')"/>

    </form>

<script src="./js/update_employee.js"></script>
</form>
</body>
</html>