<!-- index.hbs -->

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.instrumentID}}>
            <td>{{this.instrumentID}}</td>
            <td>{{this.instrumentName}}</td>
            <td>{{this.instrumentColor}}</td>
            <td>{{this.instrumentMaterial}}</td>
            <td>{{this.instrumentSize}}</td>
            <td>{{this.instrumentYear}}</td>
            <td>{{this.instrumentPrice}}</td>
             <td><button onclick="deleteInstrument({{this.instrumentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_instrument.js"></script>

<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new instrument, please enter their information below nad click `Submit`!</p>
<form id="add-instrument-form" method="POST" action="/add-instrument-form">
    <label for="input-id">ID: </label>
    <input type="number" name="input-id" id="input-id">

    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-color">Color: </label>
    <input type="text" name="input-color" id="input-color">

    <label for="input-material">Material: </label>
    <input type="text" name="input-material" id="input-material">

    <label for="input-size">Size: </label>
    <input type="text" name="input-size" id="input-size">

    <label for="input-year">Year: </label>
    <input type="number" name="input-year" id="input-year">

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">

    <input type="submit">
</form>


<h2>Updating Instrument Form</h2>
<p>Select the instrument from the dropdown below and update its information:</p>

<form id="update-instrument-form">

    <label for="input-instrument">Select the Instrument ID: </label>
    <select name="input-instrument" id="input-instrument">
        <option value="0">Select an Instrument ID</option>
        <!-- Populate this dropdown dynamically with instrument data -->
        {{#each instruments}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-instrument-name">Instrument Name: </label>
    <input type="text" name="input-instrument-name" id="input-instrument-name">

    <label for="input-instrument-color">Instrument Color: </label>
    <input type="text" name="input-instrument-color" id="input-instrument-color">

    <label for="input-instrument-material">Instrument Material: </label>
    <input type="text" name="input-instrument-material" id="input-instrument-material">

    <label for="input-instrument-size">Instrument Size: </label>
    <input type="text" name="input-instrument-size" id="input-instrument-size">

    <label for="input-instrument-year">Instrument Year: </label>
    <input type="text" name="input-instrument-year" id="input-instrument-year">

    <label for="input-instrument-price">Instrument Price: </label>
    <input type="text" name="input-instrument-price" id="input-instrument-price">

    <input type="submit">

</form>

<script src="./js/update_instrument.js"></script>
