<!--Citation for file instrument.hbs
// Date: 02/23/2024
// The ciation scope was for the whole module
// The code was adapted from the github starter code 
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
--> 

<!-- instruments.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Moonlight Melodies - Sales</title>
</head>
<body>
  <header>
</header>
<h2>Instrument Table </h2>
{{!-- Create a table --}}
<table id="instruments-table">

    {{!-- Header section --}}
<thead>
    <tr>
        <th>Instrument ID</th>
        <th>Instrument Name</th>
        <th>Instrument Color</th>
        <th>Instrument Material</th>
        <th>Instrument Size</th>
        <th>Instrument Year</th>
        <th>Instrument Price</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print items in order --}}
        {{#each data}}
        <tr data-value={{this.instrumentID}}>
            <td>{{this.instrumentID}}</td>
            <td>{{this.instrumentName}}</td>
            <td>{{this.instrumentColor}}</td>
            <td>{{this.instrumentMaterial}}</td>
            <td>{{this.instrumentSize}}</td>
            <td>{{this.instrumentYear}}</td>
            <td>{{this.instrumentPrice}}</td>
            
             <td><button onclick="deleteInstrument({{this.instrumentID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_instrument.js"></script>

<!-- Adding form -->
<h2>Adding Instruments</h2>
<p>To add a new instrument, please enter their information below and click `Submit`!</p>
<form id="add-instrument-form" method="POST" action="/add-instrument-form">
    <label for="input-name">Instrument Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-color">Instrument Color: </label>
    <input type="text" name="input-color" id="input-color">

    <label for="input-material">Instrument Material: </label>
    <input type="text" name="input-material" id="input-material">

    <label for="input-size">Instrument Size: </label>
    <input type="text" name="input-size" id="input-size">

    <label for="input-year">Instrument Year: </label>
    <input type="number" name="input-year" id="input-year">

    <label for="input-price">Instrument Price: </label>
    <input type="number" name="input-price" id="input-price">

    <input type="submit">
</form>


<!-- Updating Form -->


<h2>Updating Instruments</h2>
<p>Select the instrumentID from the dropdown below and update its information:</p>

    <form id="update-instrument-form">

        <label for="update-instrument-id">Select the Instrument: </label>
        <select name="update-instrument-id" id="update-instrument-id">
            <option value="">Select an Instrument</option>
            {{#each instrumentIDS}}
            <option value="{{this.instrumentID}}">{{this.instrumentID}}. {{this.instrumentName}}</option>
            {{/each}}
        </select>


        <label for="update-instrument-name"> Instrument Name: </label>
        <input type="text" name="update-instrument-name" id="update-instrument-name">
        
        <label for="update-instrument-color"> Instrument Color: </label>
        <input type="text" name="update-instrument-color" id="update-instrument-color">

        <label for="update-instrument-material">Instrument Material: </label>
        <input type="text" name="update-instrument-material" id="update-instrument-material">

        <label for="update-instrument-size">Instrument Size: </label>
        <input type="text" name="update-instrument-size" id="update-instrument-size">

        <label for="update-instrument-year">Instrument Year: </label>
        <input type="number" name="update-instrument-year" id="update-instrument-year">

        <label for="update-instrument-price">Instrument Price: </label>
        <input type="number" name="update-instrument-price" id="update-instrument-price">

        <input type="submit" onclick="return confirm('You are about to update the instrument. Are you Sure?')"/>

    </form>

<script src="./js/update_instrument.js"></script>

</form>
</body>
</html>