<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Moonlight Melodies - Sales</title>
</head>
<body>
  <header>
</header>
<h2>Sales Table </h2>
  <table id="sales-table">
<thead>
    <tr>
        <th>Sales ID</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Sale Amount</th>
        <th>Sale Date</th>
        <th>Sale Time</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.salesID}}>
            <td>{{this.salesID}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.employeeID}}</td>
            <td>{{this.saleAmount}}</td>
            <td>{{this.saleDate}}</td>
            <td>{{this.saleTime}}</td>
            <td><button onclick="deleteSale('{{this.salesID}}')">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_sales.js"></script>

<!-- /views/index.hbs -->
<h2>Adding Sales</h2>
<p>To add a new sale, please enter their information below and click `Submit`!</p>
<form id="add-sale-form" method="POST" action="/add-sale-form">
    <label for="input-customerid">Select the Customer: </label>
    <select name="input-customerid" id="input-customerid-ajax">
        <option value="">Select an Customer</option>
        {{#each customerIDS}}
        <option value="{{this.customerID}}">{{this.customerID}}. {{this.customerFname}} {{this.customerLname}}</option>
        {{/each}}
    </select>
    
    <label for="input-employeeid">Select the Employee: </label>
    <select name="input-employeeid" id="input-employeeid-ajax">
        <option value="">Select an Employee</option>
        <option value="">No Employee</option>
        {{#each employeeIDS}}
        <option value="{{this.employeeID}}">{{this.employeeID}}. {{this.employeeFname}} {{this.employeeLname}}</option>
        {{/each}}
    </select>

    <label for="input-amount">Sale Amount: </label>
    <input type="number" name="input-amount" id="input-amount">

    <label for="input-date">Sale Date: </label>
    <input type="date" name="input-date" id="input-date">

    <label for="input-time">Sale Time: </label>
    <input type="time" name="input-time" id="input-time">

    <input type="submit">
</form>

</body>
</html>