<!-- index.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Moonlight Melodies - Sales</title>
</head>
<body>
  <header>
</header>
<h2>Shopping Cart Table </h2>
{{!-- Create a table --}}
<table id="shoppingCart-table">

    {{!-- Header section --}}
<thead>
    <tr>
        <th>Shopping Cart ID</th>
        <th>Sales ID</th>
        <th>Song ID</th>
        <th>Instrument ID</th>
        <th>Item Quantity</th>
        <th>Item Total Price</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.shoppingCartID}}>
            <td>{{this.shoppingCartID}}</td>
            <td>{{this.salesID}}</td>
            <td>{{this.songID}}</td>
            <td>{{this.instrumentID}}</td>
            <td>{{this.itemQuantity}}</td>
            <td>{{this.itemTotalPrice}}</td>
             <td><button onclick="deleteShoppingCart({{this.shoppingCartID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_cart.js"></script>

<!-- /views/index.hbs -->
<h2>Add Items </h2>
<p>To add a new shopping cart, please enter their information below and click `Submit`!</p>
<form id="add-shoppingCart-form" method="POST" action="/add-shoppingCart-form">
    <label for="input-saleid">Select the Sale ID: </label>
    <select name="input-saleid" id="input-saleid-ajax">
        <option value="">Select an Sale ID</option>
        {{#each saleIDS}}
        <option value="{{this.salesID}}">{{this.salesID}}</option>
        {{/each}}
    </select>

    <label for="input-songid">Select the Song ID: </label>
    <select name="input-songid" id="input-songid-ajax">
        <option value="">Select an Song ID</option>
        {{#each songIDS}}
        <option value="{{this.songID}}">{{this.songID}}</option>
        {{/each}}
    </select>

    <label for="input-instrumentid">Select the Instrument ID: </label>
    <select name="input-instrumentid" id="input-instrumentid-ajax">
        <option value="">Select an Instrument ID</option>
        {{#each instrumentIDS}}
        <option value="{{this.instrumentID}}">{{this.instrumentID}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Item Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity">

    <label for="input-totalPrice">Total Price: </label>
    <input type="number" name="input-totalPrice" id="input-totalPrice">

    <input type="submit">
</form>

<h2>Update Instrument</h2>
<p>Select the instrument from the dropdown below and update its information:</p>

<form id="update-instrument-form">

    <label for="input-instrument">Select the Instrument ID: </label>
    <select name="input-instrument" id="input-instrument-ajax">
        <option value="0">Select an Instrument ID</option>
        {{#each instrumentIDS}}
        <option value="{{this.instrumentID}}">{{this.instrumentID}}</option>
        {{/each}}
    </select>


    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-color">Color: </label>
    <input type="text" name="input-color" id="input-color">

    <label for="input-material">Material: </label>
    <input type="text" name="input-material" id="input-material">

    <label for="input-size">Size: </label>
    <input type="text" name="input-size" id="input-size">

    <label for="input-year">Year: </label>
    <input type="number" name="input-year" id="input-year">

    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">

    <input type="submit">

</form>

<script src="./js/update_instrument.js"></script>
</form>
</body>
</html>