<!-- index.hbs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Moonlight Melodies - Sales</title>
</head>
<body>
  <header>
</header>
<h2>Songs Table </h2>
{{!-- Create a table --}}
<table id="songs-table">

    {{!-- Header section --}}
<thead>
    <tr>
        <th>Song ID</th>
        <th>Song Name</th>
        <th>Song Artist</th>
        <th>Song Genre</th>
        <th>Song Length</th>
        <th>Song Year</th>
        <th>Song Price</th>
        <th>Delete</th>
    </tr>
</thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.songID}}>
            <td>{{this.songID}}</td>
            <td>{{this.songName}}</td>
            <td>{{this.songArtist}}</td>
            <td>{{this.songGenre}}</td>
            <td>{{this.songLength}}</td>
            <td>{{this.songYear}}</td>
            <td>{{this.songPrice}}</td>
             <td><button onclick="deleteSong({{this.songID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_songs.js"></script>

<!-- /views/index.hbs -->
<h2>Add Songs</h2>
<p>To add a new song, please enter their information below and click `Submit`!</p>
<form id="add-song-form" method="POST" action="/add-song-form">
    <label for="input-name">Song Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-artist">Song Artist: </label>
    <input type="text" name="input-artist" id="input-artist">

    <label for="input-genre">Song Genre: </label>
    <input type="text" name="input-genre" id="input-genre">

    <label for="input-length">Song Length: </label>
    <input type="text" name="input-length" id="input-length">

    <label for="input-year">Song Year: </label>
    <input type="number" name="input-year" id="input-year">

    <label for="input-price">Song Price: </label>
    <input type="double" name="input-price" id="input-price">

    <input type="submit">
</form>



<h2>Updating Song</h2>
<p>Select the songID from the dropdown below and update its information:</p>

    <form id="update-song-form">

        <label for="update-song-id">Select the song: </label>
        <select name="update-song-id" id="update-song-id">
            <option value="">Select a Song</option>
            {{#each songIDS}}
            <option value="{{this.songID}}">{{this.songID}}. {{this.songName}}</option>
            {{/each}}
        </select>


        <label for="update-name"> Song Name: </label>
        <input type="text" name="update-song-name" id="update-song-name">
        
        <label for="update-artist"> Song Artist: </label>
        <input type="text" name="update-song-artist" id="update-song-artist">

        <label for="update-genre">Song Genre: </label>
        <input type="text" name="update-song-genre" id="update-song-genre">

        <label for="update-length">Song Length: </label>
        <input type="text" name="update-song-length" id="update-song-length">

        <label for="update-year">Song Year: </label>
        <input type="number" name="update-song-year" id="update-song-year">

        <label for="update-price">Song Price: </label>
        <input type="number" name="update-song-price" id="update-song-price">

        <input type="submit" onclick="return confirm('You are about to update the song. Are you Sure?')"/>

    </form>

<script src="./js/update_song.js"></script>

</form>
</body>
</html>