<!-- songs.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="songs-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.songID}}>
            <td>{{this.songName}}</td>
            <td>{{this.songArtist}}</td>
            <td>{{this.songGenre}}</td>
            <td>{{this.songLength}}</td>
            <td>{{this.songYear}}</td>
            <td>{{this.songPrice}}</td>
             <td><button onclick="deleteSong({{this.songID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_songs.js"></script>

        <form id="add-song-form">
            <h2>Add a Song</h2>
            <label for="song-id">Song ID:</label>
            <input type="text" id="song-id" name="song-id" required><br>
            <label for="song-title">Title:</label>
            <input type="text" id="song-title" name="song-title" required><br>
            <label for="song-artist">Artist:</label>
            <input type="text" id="song-artist" name="song-artist" required><br>
            <label for="song-genre">Genre:</label>
            <input type="text" id="song-genre" name="song-genre" required><br>
            <label for="song-length">Length:</label>
            <input type="text" id="song-length" name="song-length" required><br>
            <label for="song-year">Year:</label>
            <input type="text" id="song-year" name="song-year" required><br>
            <label for="song-price">Song Price:</label>
            <input type="text" id="song-price" name="song-price" required><br>
            <button onclick="addSong()">Add a Song</button>
        </form>
        <form id="update-song-form">
            <h2>Update a Song</h2>
            <div>
                <label for="songSelect">Select the song:</label>
                <select id="songSelect" name="songSelect">
                    <option value="" disabled selected>Select the song</option>
                    <option value="Moonlight Sonata">Moonlight Sonata</option>
                    <option value="Nocturne in E-flat Major">Nocturne in E-flat Major</option>
                    <option value="Clair de Lune">Clair de Lune</option>
                    <option value="Twilight Symphony">Twilight Symphony</option>
                </select>
            </div>
            <div>
                <label for="song-id">Song ID:</label>
                <input type="text" id="song-id" name="song-id" required>
            </div>
            <div>
                <label for="song-title">Title:</label>
                <input type="text" id="song-title" name="song-title" required>
            </div>
            <div>
                <label for="song-artist">Artist:</label>
                <input type="text" id="song-artist" name="song-artist" required>
            </div>
            <div>
                <label for="song-genre">Genre:</label>
                <input type="text" id="song-genre" name="song-genre" required>
            </div>
            <div>
                <label for="song-length">Length:</label>
                <input type="text" id="song-length" name="song-length" required>
            </div>
            <div>
                <label for="song-year">Year:</label>
                <input type="text" id="song-year" name="song-year" required>
            </div>
            <div>
                <label for="song-price">Song Price:</label>
                <input type="text" id="song-price" name="song-price" required>
            </div>
            <button onclick="updatesong()">Update song</button>
        </form>
    </body>
</html>
